header {
    background-color: #BBBBBB;
    padding: 20px 0;

}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin:  0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;   
}
nav a:hover{
    text-decoration: underline;
    color: blue; 
}
#banner{
    width: 100%;
}
.principal{
    text-align: center;
	background: #CCCCCC;
	padding: 30px;
}
.titulo_secao{
    font-size: 30px;
    text-align: center;

}

em b{
    color: red;
}

.lista{
    display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
    font-style: italic;
}
#beneficios{
    width: 50%;

}