header {
    background-color: #BBBBBB;
    padding: 20px 0;

}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin:  0 0 0 15px;
}
nav a{
    text-transform: upperase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;   
}
nav a:hover{
    text-decoration: underline;
    color: blue; 
}
#banner{
    width: 100%;

}
p{
    line-height: 1.8;
}
.principal{
    text-align: center;
	background: #CCCCCC;
    padding-bottom: 30px;
}
.conteudo{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.titulo_secao{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding:  30px

}

em b{
    font-weight: bold;
    color: red;
}

.lista{
    position:relative;
    
    display: inline-block;
	vertical-align: top;
	width: 20%;
    margin-top: 10%;
	margin-right: 15%;
    margin-left: 15%;
    font-style: italic;
    
}
#beneficios{
    width: 40%;
}
footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}